<h1>Meetings</h1>

<table class="table table-striped table-hover">
  <thead class="table-dark">
    <tr>
      <th>Meeting name</th>
      <th>Organiser</th>
      <th>Start time</th>
      <th>Endtime</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @meetings.each do |meeting| %>
      <% if meeting.user_id == current_user.id %>
        <tr>
          <td><%= meeting.meeting_name %></td>
          <td><%= meeting.organiser %></td>
          <td><%= meeting.start_time %></td>
          <td><%= meeting.endtime %></td>
          <td><%= link_to 'Show', meeting %></td>
          <td><%= link_to 'Edit', edit_meeting_path(meeting) %></td>
          <td><%= link_to 'Destroy', meeting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Meeting', new_meeting_path, class:'btn btn-secondary' %>
