<div class="jumbotron">
  <h1 class="display-4"><%= @meeting.meeting_name %></h1>
  <p class="lead">
    <strong>Organiser:</strong>
    <%= @meeting.organiser %>
  </p>
  <hr class="my-4">
  <p>
    <strong>Start time:</strong>
    <%= @meeting.start_time %>
    <br>
    <strong>End Time:</strong>
    <%= @meeting.endtime %>
  </p>
  <%= link_to 'Edit', edit_meeting_path(@meeting), class: 'btn btn-secondary' %>
  <%= link_to 'Back', meetings_path, class: 'btn btn-secondary' %>
</div>
