<p id="notice"><%= notice %></p>

<p>
  <strong>Meeting name:</strong>
  <%= @meeting.meeting_name %>
</p>

<p>
  <strong>Organiser:</strong>
  <%= @meeting.organiser %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @meeting.start_time %>
</p>

<p>
  <strong>Endtime:</strong>
  <%= @meeting.endtime %>
</p>

<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>
